
@import "@material/react-button/index.scss";
@import '@material/react-ripple/index.scss';

//@import "./react-button-overrides";

$canvas-width: 800px;
$swab-margin: 10px;
$number-max-swabs: 5;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-swab {
  width: ($canvas-width - (($number-max-swabs - 1) * $swab-margin)) / $number-max-swabs;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-bounded;
  @include mdc-states;
  overflow: hidden;
  box-sizing: border-box;
  transition: background-color .03s;
}

.color-swab-text {
  font-family: Roboto,sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  //opacity: 0;
  //transition: opacity 0.3s;
}

.color-swab:hover .color-swab-text {
  opacity: 1;
}

.color-swab.no-color {
  border: dashed;
  border-color:#dedede;
}

.color-palette-container {
  margin-top: 10px;
  display: flex;
}

.color-palette-container .color-swab:not(:last-child) {
  margin-right: $swab-margin;
}

.app-container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.color-tool-container {
  width: $canvas-width;
}

.random-image-button {
  margin-top: 20px;
}